literature/
_minted/
_minted-*/
svg-inkscape/

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.bcf

*.run.xml
*.synctex.gz
*-SAVE-ERROR
*.fdb_latexmk
main.synctex(busy)

# beamer (slides) build artifacts
*.nav
*.snm
*.vrb
*.dvi

notes.tex